<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <title>Гостевая книга</title>
    </head>
    <body>
        <hr>
        {{list.id}}
        <table>
            <thead>
            <a href='create.php'>Добавить сообщение</a>
        </thead>
        <tbody>
            <tr>
                <th>Сообщение</th>
                <th>Автор</th>
                <th>Дата</th>
            </tr>

            {% for row in list %}
            <tr>
                <td>{{ row.message }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.crdate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <footer>
        <hr>
    </footer>
</body>
</html>

